{% extends "base.html" %}
{% block content %}
<title>Notifications</title>
    <style>
       

        .notifications-container {
            margin: 0 auto;
            max-width: 800px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: grey;
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

       
       
    </style>


    <div class="notifications-container">
        <h1>Notifications</h1>



{% if notifications %}
    <ul>
    {% for notification in notifications %}
        <li>
            <strong>{{ notification.job.title }}</strong>: {{ notification.message }} 
            ({{ notification.applicant }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No notifications available.</p>
{% endif %}

<a href="{% url 'company_dashboard' %}">Back to Dashboard</a>


 </div>

    {% endblock %}